$brand-color-primary: $brand-primary; // $brand-primary already defined in Bootstrap
$brand-color-secondary: #8dc63f;
$brand-color-black: #414042;
$brand-color-white: #FFF;
$border-default-size: 5px;
$brand-dark-background: rgba(25, 25, 25, 0.60);
