---
layout: page
title: Tampa Convention Center
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">TAMPA <br> CONVENTION CENTER</h1>
          <p class="animated fadeInUp">The Tampa Convention Center provides the very best that Florida has to offer with dazzling sunshine and sparkling waterfront views.  Combine those two natural elements with a totally flexible space and elegant interior designs and you have an event destination beyond compare.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Visitors from <span id="rand-city"></span> Love It!</h2>
            <p>Whether you are hosting or attending an event here, you'll enjoy discovering the riverfront jewel that is the Tampa Convention Center!</p>
          </div>
          <p>Sitting right on the banks of the Hillsborough River, TCC boasts four-levels and 600,000 square foot including a 200,000 square foot exhibit hall, 84,000 square feet of useful prefunction areas, a 36,000 square foot ballroom and 36 breakout rooms. Add to that cafes, restaurants, and waterfront gathering areas including The Sail, Tampa's only 360° waterfront bar.  All of these features work together to provide flexibility, functionality, convenience and fun.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>PLAN YOUR EVENT WITH US!</h2>
      <p>Whether you're an event planner who works with many conference venues or a local professional returning to Tampa Convention Center for an annual corporate event, our exceptional facility and outstanding event services will help you plan the perfect meeting, trade show or exhibition.</p>
      <a href="#" class="btn btn-view-works">Start Planning</a>
    </div>
  </div>
</div>
</section>

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>EVERYTHING YOU NEED</h2>
        <p>The Tampa Convention Center is not only right on the water, it's minutes away from some of Florida's best attractions.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="ion-home"></i>
                <h4 class="counter">85</h4>
                <span>Hotels</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-beer"></i>
                <h4 class="counter">211</h4>
                <span>Resturants</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-university"></i>
                <h4 class="counter">26</h4>
                <span>Museums</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-plane"></i>
                <h4><span class="counter">14</span> Minutes</h4>
                <span>Drive from the Airport</span>
              </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
              <img src="img/cotation.png" alt="IMG">
                <p>Shoutout to the Tampa Convention Center employee spending his lunch streaming #comeyHearings . This stuff matters.</p>
                <div class="user">
                  <img src="img/twitter-user-1.jpg" alt="Pepole">
                  <p><span>Bob Henson</span> CEO-Themefisher</p>
                </div>
            </div>
            <div>
              <img src="img/cotation.png" alt="IMG">
                <p>At the 2017 SOFIC Convention in Tampa #Soflic #sofep @ Tampa Convention Center https://www.instagram.com/p/BUH0vvegRIW/ </p>
                <div class="user">
                  <img src="img/twitter-user-2.jpg" alt="Pepole">
                  <p><span>Clay Risro</span> CEO-Themefisher</p>
                </div>
            </div>
            <div>
              <img src="img/cotation.png" alt="IMG">
                <p>Attending the #2017NLCTB Leadership Conference today! (@ Tampa Convention Center - @tampaconvcenter in Tampa, FL)</p>
                <div class="user">
                  <img src="img/twitter-user-3.jpg" alt="Pepole">
                  <p><span>Rose Ray</span> CEO-Themefisher</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include call-to-action.html %}

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Your Convention Services Manager (CSM) will be your liaison to our Tampa Convention Center staff, helping you square away audio visual services, catering, business services and every other event need.</p>
      </div>
    </div>
    <div class="row ">
      {% for item in site.data.services %}
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="icon {{item.icon}}"></i>
            <h4>{{item.title}}</h4>
            <p>{{item.body}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
