<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We Do Events like No Other.</h2>
          <p>Use the Tampa Convention Center for an annual corporate event, our exceptional facility and outstanding event services will help you plan the perfect meeting, trade show or exhibition.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Lets Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>
